<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="./styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <div class="inner-nav">
        <a href="/"
          >HOME
          <hr />
        </a>
        <a href="/portfolio">
          PORTFOLIO
          <hr class="active-page" />
        </a>
        <p class="nav-logo">BV</p>
        <a href="/about">
          ABOUT ME
          <hr />
        </a>
        <a href="/unique">
          UNIQUE
          <hr />
        </a>
      </div>
    </nav>

    <main class="portfolio-main">
      <section class="projects-sect">
        <h1 class="title-sect" data-aos="fade-down" data-aos-duration="1000">PROJECTS</h1>
        <div class="divider-container" data-aos="zoom-in">
          <hr class="left-piece" />
          <div class="center-piece"></div>
          <hr class="right-piece" />
        </div>
        <div class="projects-container">
          <% for(let i=0; i<projects.length;i++) { %>
            <figure class="project-item" data-aos="flip-right" data-aos-duration="1000">
              <img
                class="project-thumbnail"
                src="./images/projects/<%=projects[i].thumbnail%>"
                alt="project thumbnail"
              />
              <div class="caption-container">
                <figcaption><%=projects[i].title%></figcaption>
                <div class="techs-used-container">
                  <% for(let j=0; j<projects[i].tech_stacks.length; j++) { %>
                    <img src="./images/<%=projects[i].tech_stacks[j].img%>" alt="projects[i].tech_stacks[j].alt_text" width="20" height="20" />
                  <% } %>
                </div>
              </div>
              <p class="description"><%=projects[i].description%></p>
              <div class="project-links-container">
                <a
                  href="<%=projects[i].site_url%>"
                  target="_blank"
                  >Live</a
                >
                <a
                  href="<%=projects[i].src_code_url%>"
                  target="_blank"
                  >&lt;&#47;&gt;</a
                >
              </div>
            </figure>
          <% } %>
        </div>
      </section>
      <section class="skills-sect">
        <h1 class="title-sect" data-aos="fade-down" data-aos-duration="1000">SKILLS</h1>
        <div class="divider-container" data-aos="zoom-in">
          <hr class="left-piece" />
          <div class="center-piece"></div>
          <hr class="right-piece" />
        </div>
        <div class="skills-container">
          <% for(let i=0;i<skills.length;i++) { %>
            <img
              src="./images/<%=skills[i].img%>"
              alt="<%=skills[i].alt_text%>"
              width="128"
              height="128"
              data-aos="flip-right"
              data-aos-duration="1000"
            />
          <% } %>
        </div>
      </section>
    </main>
  </body>
</html>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
